//{{NO_DEPENDENCIES}}

IDR_default_resources_default_language_language_en_tb_txt                   RCDATA ".\\resources\\default_language\\language_en.tb.txt"

IDR_default_resources_fonts_segoe_white_with_shadow_tb_txt                  RCDATA ".\\resources\\fonts\\segoe_white_with_shadow.tb.txt"
IDR_default_resources_fonts_segoe_white_with_shadow_14_png                  RCDATA ".\\resources\\fonts\\segoe_white_with_shadow_14.png"
IDR_default_resources_fonts_segoe_white_with_shadow_28_png                  RCDATA ".\\resources\\fonts\\segoe_white_with_shadow_28.png"

IDR_default_resources_default_skin_arrow_down_png                           RCDATA ".\\resources\\default_skin\\arrow_down.png"
IDR_default_resources_default_skin_arrow_down_192_png                       RCDATA ".\\resources\\default_skin\\arrow_down@192.png"
IDR_default_resources_default_skin_arrow_down_288_png                       RCDATA ".\\resources\\default_skin\\arrow_down@288.png"
IDR_default_resources_default_skin_arrow_down_384_png                       RCDATA ".\\resources\\default_skin\\arrow_down@384.png"
IDR_default_resources_default_skin_arrow_left_png                           RCDATA ".\\resources\\default_skin\\arrow_left.png"
IDR_default_resources_default_skin_arrow_left_192_png                       RCDATA ".\\resources\\default_skin\\arrow_left@192.png"
IDR_default_resources_default_skin_arrow_left_288_png                       RCDATA ".\\resources\\default_skin\\arrow_left@288.png"
IDR_default_resources_default_skin_arrow_left_384_png                       RCDATA ".\\resources\\default_skin\\arrow_left@384.png"
IDR_default_resources_default_skin_arrow_right_png                          RCDATA ".\\resources\\default_skin\\arrow_right.png"
IDR_default_resources_default_skin_arrow_right_192_png                      RCDATA ".\\resources\\default_skin\\arrow_right@192.png"
IDR_default_resources_default_skin_arrow_right_288_png                      RCDATA ".\\resources\\default_skin\\arrow_right@288.png"
IDR_default_resources_default_skin_arrow_right_384_png                      RCDATA ".\\resources\\default_skin\\arrow_right@384.png"
IDR_default_resources_default_skin_arrow_up_png                             RCDATA ".\\resources\\default_skin\\arrow_up.png"
IDR_default_resources_default_skin_arrow_up_192_png                         RCDATA ".\\resources\\default_skin\\arrow_up@192.png"
IDR_default_resources_default_skin_arrow_up_288_png                         RCDATA ".\\resources\\default_skin\\arrow_up@288.png"
IDR_default_resources_default_skin_arrow_up_384_png                         RCDATA ".\\resources\\default_skin\\arrow_up@384.png"
IDR_default_resources_default_skin_button_png                               RCDATA ".\\resources\\default_skin\\button.png"
IDR_default_resources_default_skin_button_flat_outline_png                  RCDATA ".\\resources\\default_skin\\button_flat_outline.png"
IDR_default_resources_default_skin_button_flat_pressed_png                  RCDATA ".\\resources\\default_skin\\button_flat_pressed.png"
IDR_default_resources_default_skin_button_grouped_x_first_down_png          RCDATA ".\\resources\\default_skin\\button_grouped_x_first_down.png"
IDR_default_resources_default_skin_button_grouped_x_first_up_png            RCDATA ".\\resources\\default_skin\\button_grouped_x_first_up.png"
IDR_default_resources_default_skin_button_grouped_x_last_down_png           RCDATA ".\\resources\\default_skin\\button_grouped_x_last_down.png"
IDR_default_resources_default_skin_button_grouped_x_last_up_png             RCDATA ".\\resources\\default_skin\\button_grouped_x_last_up.png"
IDR_default_resources_default_skin_button_grouped_x_middle_down_png         RCDATA ".\\resources\\default_skin\\button_grouped_x_middle_down.png"
IDR_default_resources_default_skin_button_grouped_x_middle_up_png           RCDATA ".\\resources\\default_skin\\button_grouped_x_middle_up.png"
IDR_default_resources_default_skin_button_pressed_png                       RCDATA ".\\resources\\default_skin\\button_pressed.png"
IDR_default_resources_default_skin_checkbox_png                             RCDATA ".\\resources\\default_skin\\checkbox.png"
IDR_default_resources_default_skin_checkbox_192_png                         RCDATA ".\\resources\\default_skin\\checkbox@192.png"
IDR_default_resources_default_skin_checkbox_288_png                         RCDATA ".\\resources\\default_skin\\checkbox@288.png"
IDR_default_resources_default_skin_checkbox_384_png                         RCDATA ".\\resources\\default_skin\\checkbox@384.png"
IDR_default_resources_default_skin_checkbox_mark_png                        RCDATA ".\\resources\\default_skin\\checkbox_mark.png"
IDR_default_resources_default_skin_checkbox_mark_192_png                    RCDATA ".\\resources\\default_skin\\checkbox_mark@192.png"
IDR_default_resources_default_skin_checkbox_mark_288_png                    RCDATA ".\\resources\\default_skin\\checkbox_mark@288.png"
IDR_default_resources_default_skin_checkbox_mark_384_png                    RCDATA ".\\resources\\default_skin\\checkbox_mark@384.png"
IDR_default_resources_default_skin_checkbox_pressed_png                     RCDATA ".\\resources\\default_skin\\checkbox_pressed.png"
IDR_default_resources_default_skin_checkbox_pressed_192_png                 RCDATA ".\\resources\\default_skin\\checkbox_pressed@192.png"
IDR_default_resources_default_skin_checkbox_pressed_288_png                 RCDATA ".\\resources\\default_skin\\checkbox_pressed@288.png"
IDR_default_resources_default_skin_checkbox_pressed_384_png                 RCDATA ".\\resources\\default_skin\\checkbox_pressed@384.png"
IDR_default_resources_default_skin_container_png                            RCDATA ".\\resources\\default_skin\\container.png"
IDR_default_resources_default_skin_editfield_png                            RCDATA ".\\resources\\default_skin\\editfield.png"
IDR_default_resources_default_skin_fadeout_x_png                            RCDATA ".\\resources\\default_skin\\fadeout_x.png"
IDR_default_resources_default_skin_fadeout_y_png                            RCDATA ".\\resources\\default_skin\\fadeout_y.png"
IDR_default_resources_default_skin_focus_r4_png                             RCDATA ".\\resources\\default_skin\\focus_r4.png"
IDR_default_resources_default_skin_focus_tabbutton_left_png                 RCDATA ".\\resources\\default_skin\\focus_tabbutton_left.png"
IDR_default_resources_default_skin_focus_tabbutton_top_png                  RCDATA ".\\resources\\default_skin\\focus_tabbutton_top.png"
IDR_default_resources_default_skin_item_hover_png                           RCDATA ".\\resources\\default_skin\\item_hover.png"
IDR_default_resources_default_skin_item_selected_png                        RCDATA ".\\resources\\default_skin\\item_selected.png"
IDR_default_resources_default_skin_item_separator_x_png                     RCDATA ".\\resources\\default_skin\\item_separator_x.png"
IDR_default_resources_default_skin_item_separator_y_png                     RCDATA ".\\resources\\default_skin\\item_separator_y.png"
IDR_default_resources_default_skin_progress_spinner_strip_png               RCDATA ".\\resources\\default_skin\\progress_spinner_strip.png"
IDR_default_resources_default_skin_progress_spinner_strip_192_png           RCDATA ".\\resources\\default_skin\\progress_spinner_strip@192.png"
IDR_default_resources_default_skin_radio_png                                RCDATA ".\\resources\\default_skin\\radio.png"
IDR_default_resources_default_skin_radio_192_png                            RCDATA ".\\resources\\default_skin\\radio@192.png"
IDR_default_resources_default_skin_radio_288_png                            RCDATA ".\\resources\\default_skin\\radio@288.png"
IDR_default_resources_default_skin_radio_384_png                            RCDATA ".\\resources\\default_skin\\radio@384.png"
IDR_default_resources_default_skin_radio_mark_png                           RCDATA ".\\resources\\default_skin\\radio_mark.png"
IDR_default_resources_default_skin_radio_mark_192_png                       RCDATA ".\\resources\\default_skin\\radio_mark@192.png"
IDR_default_resources_default_skin_radio_mark_288_png                       RCDATA ".\\resources\\default_skin\\radio_mark@288.png"
IDR_default_resources_default_skin_radio_mark_384_png                       RCDATA ".\\resources\\default_skin\\radio_mark@384.png"
IDR_default_resources_default_skin_radio_pressed_png                        RCDATA ".\\resources\\default_skin\\radio_pressed.png"
IDR_default_resources_default_skin_radio_pressed_192_png                    RCDATA ".\\resources\\default_skin\\radio_pressed@192.png"
IDR_default_resources_default_skin_radio_pressed_288_png                    RCDATA ".\\resources\\default_skin\\radio_pressed@288.png"
IDR_default_resources_default_skin_radio_pressed_384_png                    RCDATA ".\\resources\\default_skin\\radio_pressed@384.png"
IDR_default_resources_default_skin_resizer_png                              RCDATA ".\\resources\\default_skin\\resizer.png"
IDR_default_resources_default_skin_resizer_192_png                          RCDATA ".\\resources\\default_skin\\resizer@192.png"
IDR_default_resources_default_skin_resizer_288_png                          RCDATA ".\\resources\\default_skin\\resizer@288.png"
IDR_default_resources_default_skin_resizer_384_png                          RCDATA ".\\resources\\default_skin\\resizer@384.png"
IDR_default_resources_default_skin_scroll_bg_x_png                          RCDATA ".\\resources\\default_skin\\scroll_bg_x.png"
IDR_default_resources_default_skin_scroll_bg_y_png                          RCDATA ".\\resources\\default_skin\\scroll_bg_y.png"
IDR_default_resources_default_skin_scroll_fg_x_png                          RCDATA ".\\resources\\default_skin\\scroll_fg_x.png"
IDR_default_resources_default_skin_scroll_fg_y_png                          RCDATA ".\\resources\\default_skin\\scroll_fg_y.png"
IDR_default_resources_default_skin_search_png                               RCDATA ".\\resources\\default_skin\\search.png"
IDR_default_resources_default_skin_search_192_png                           RCDATA ".\\resources\\default_skin\\search@192.png"
IDR_default_resources_default_skin_search_288_png                           RCDATA ".\\resources\\default_skin\\search@288.png"
IDR_default_resources_default_skin_search_384_png                           RCDATA ".\\resources\\default_skin\\search@384.png"
IDR_default_resources_default_skin_section_container_png                    RCDATA ".\\resources\\default_skin\\section_container.png"
IDR_default_resources_default_skin_selection_png                            RCDATA ".\\resources\\default_skin\\selection.png"
IDR_default_resources_default_skin_skin_tb_txt                              RCDATA ".\\resources\\default_skin\\skin.tb.txt"
IDR_default_resources_default_skin_slider_bg_x_png                          RCDATA ".\\resources\\default_skin\\slider_bg_x.png"
IDR_default_resources_default_skin_slider_bg_x_192_png                      RCDATA ".\\resources\\default_skin\\slider_bg_x@192.png"
IDR_default_resources_default_skin_slider_bg_x_288_png                      RCDATA ".\\resources\\default_skin\\slider_bg_x@288.png"
IDR_default_resources_default_skin_slider_bg_x_384_png                      RCDATA ".\\resources\\default_skin\\slider_bg_x@384.png"
IDR_default_resources_default_skin_slider_bg_y_png                          RCDATA ".\\resources\\default_skin\\slider_bg_y.png"
IDR_default_resources_default_skin_slider_bg_y_192_png                      RCDATA ".\\resources\\default_skin\\slider_bg_y@192.png"
IDR_default_resources_default_skin_slider_bg_y_288_png                      RCDATA ".\\resources\\default_skin\\slider_bg_y@288.png"
IDR_default_resources_default_skin_slider_bg_y_384_png                      RCDATA ".\\resources\\default_skin\\slider_bg_y@384.png"
IDR_default_resources_default_skin_slider_handle_png                        RCDATA ".\\resources\\default_skin\\slider_handle.png"
IDR_default_resources_default_skin_slider_handle_192_png                    RCDATA ".\\resources\\default_skin\\slider_handle@192.png"
IDR_default_resources_default_skin_slider_handle_288_png                    RCDATA ".\\resources\\default_skin\\slider_handle@288.png"
IDR_default_resources_default_skin_slider_handle_384_png                    RCDATA ".\\resources\\default_skin\\slider_handle@384.png"
IDR_default_resources_default_skin_tab_button_bottom_active_png             RCDATA ".\\resources\\default_skin\\tab_button_bottom_active.png"
IDR_default_resources_default_skin_tab_button_bottom_inactive_png           RCDATA ".\\resources\\default_skin\\tab_button_bottom_inactive.png"
IDR_default_resources_default_skin_tab_button_left_active_png               RCDATA ".\\resources\\default_skin\\tab_button_left_active.png"
IDR_default_resources_default_skin_tab_button_left_inactive_png             RCDATA ".\\resources\\default_skin\\tab_button_left_inactive.png"
IDR_default_resources_default_skin_tab_button_right_active_png              RCDATA ".\\resources\\default_skin\\tab_button_right_active.png"
IDR_default_resources_default_skin_tab_button_right_inactive_png            RCDATA ".\\resources\\default_skin\\tab_button_right_inactive.png"
IDR_default_resources_default_skin_tab_button_top_active_png                RCDATA ".\\resources\\default_skin\\tab_button_top_active.png"
IDR_default_resources_default_skin_tab_button_top_inactive_png              RCDATA ".\\resources\\default_skin\\tab_button_top_inactive.png"
IDR_default_resources_default_skin_toggle_section_icon_down_png             RCDATA ".\\resources\\default_skin\\toggle_section_icon_down.png"
IDR_default_resources_default_skin_toggle_section_icon_middle_png           RCDATA ".\\resources\\default_skin\\toggle_section_icon_middle.png"
IDR_default_resources_default_skin_toggle_section_icon_up_png               RCDATA ".\\resources\\default_skin\\toggle_section_icon_up.png"
IDR_default_resources_default_skin_window_png                               RCDATA ".\\resources\\default_skin\\window.png"
IDR_default_resources_default_skin_window_active_png                        RCDATA ".\\resources\\default_skin\\window_active.png"
IDR_default_resources_default_skin_window_close_png                         RCDATA ".\\resources\\default_skin\\window_close.png"
IDR_default_resources_default_skin_window_close_192_png                     RCDATA ".\\resources\\default_skin\\window_close@192.png"
IDR_default_resources_default_skin_window_close_288_png                     RCDATA ".\\resources\\default_skin\\window_close@288.png"
IDR_default_resources_default_skin_window_close_384_png                     RCDATA ".\\resources\\default_skin\\window_close@384.png"
IDR_default_resources_default_skin_window_close_pressed_png                 RCDATA ".\\resources\\default_skin\\window_close_pressed.png"
IDR_default_resources_default_skin_window_close_pressed_192_png             RCDATA ".\\resources\\default_skin\\window_close_pressed@192.png"
IDR_default_resources_default_skin_window_close_pressed_288_png             RCDATA ".\\resources\\default_skin\\window_close_pressed@288.png"
IDR_default_resources_default_skin_window_close_pressed_384_png             RCDATA ".\\resources\\default_skin\\window_close_pressed@384.png"
IDR_default_resources_default_skin_window_mover_bg_tile_png                 RCDATA ".\\resources\\default_skin\\window_mover_bg_tile.png"
IDR_default_resources_default_skin_window_mover_bg_tile_288_png             RCDATA ".\\resources\\default_skin\\window_mover_bg_tile@288.png"
IDR_default_resources_default_skin_window_mover_overlay_png                 RCDATA ".\\resources\\default_skin\\window_mover_overlay.png"
